<h1>EmployeeForm</h1>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm.value)"><br>
  <label>Name</label>
  <input type="text" placeholder="name" formControlName="name" required>
  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="danger">
    required</div>
  <br><br>
  <label>Age</label>
  <input type="number" placeholder="age" formControlName="age" required>
  <div *ngIf="age.invalid && (age.dirty || age.touched)" class="danger">
    required</div><br><br>
  <label>Designation</label>
  <select formControlName="designation" required>

    <option>PM</option>
    <option>HR</option>
    <option>TL</option>
  </select>
  <div *ngIf="designation.invalid && (designation.dirty || designation.touched)" class="danger">
    required</div>
  <br><br>
  <label>JoiningDate</label>

  <input type="text" ngbDatepicker #d="ngbDatepicker" placeholder="joiningDate" formControlName="joiningDate" required />
  <button (click)="d.toggle()" type="button">Date</button>
  <div *ngIf="joiningDate.invalid && (joiningDate.dirty || joiningDate.touched)" class="danger">
    required</div>
  <br><br>

  <input type="submit" [disabled]="!employeeForm.valid" value="submit"><br>
</form>